@tailwind base;
@tailwind components;
@tailwind utilities;

.label-animate{
  @apply absolute -translate-y-1/2 dark:bg-tg-bg bg-white text-tg-gray px-1 left-3 z-10 peer-focus:font-[tg-font-1] dark:peer-focus:text-tg-purple peer-focus:text-tg-blue dark:group-hover:text-tg-purple group-hover:text-tg-blue transition-[top,font-size] duration-200 ease-in-out peer-focus:top-0 peer-focus:text-xs cursor-text;
}

/* Hide the default clear (×) button in WebKit browsers */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: theme('colors.tg-bg');
  /* use Tailwind color */
}

::-webkit-scrollbar-thumb {
  background: #8774e1;
  border-radius: 9999px;
}

@font-face {
  font-family: 'SF Pro Light';
  src: 
  url('/SF-Pro-Display/sf-pro-display-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Regular';
  src: 
  url('/SF-Pro-Display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Bold';
  src: 
  url('/SF-Pro-Display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tg-font-1';
  src: 
  url('/tg-fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tg-font-2';
  src: 
  url('/tg-fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tg-font-3';
  src: 
  url('/tg-fonts/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.tg-font-1{
  font-family: 'tg-font-1'
}

.tg-font-2{
  font-family: 'tg-font-2'
}

.tg-font-3{
  font-family: 'tg-font-3'
}

.tg-font-4{
  font-family: 'tg-font-4'
}

.regular-fonts{
  font-family: 'SF Pro Regular', sans-serif;
  letter-spacing: 0.1px;
}

.light-fonts{
  font-family: 'SF Pro Light', sans-serif;
}

.bold-fonts{
  font-family: 'SF Pro Bold', sans-serif;
}

.shadow-360{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}